/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2015, 2:20:01 PM
    Author     : John Cochran
*/

//body { color: blue;
//       position: relative};

.table-wrapper {
    float: left;
    overflow-x:scroll;
    overflow-y:visible;
    width:50%;
    //margin-left: 120px;
}


td, th {
   // padding: 5px 20px;
   // width: 100px;
}

//th:first-child, :second-child {
//    position: absolute;
//    left: 5px
//}

#right-side {
    float: right;
    
}

